@using rentMyJunk.Models


@{ 
    Layout = "";
}

@model ReportViewModel

<html>
<head>
    <script src="~/Scripts/powerbi.js"></script>
    <script>
    window.addEventListener('DOMContentLoaded', function () {
        powerbi.init();
    });
    </script>
</head>
<body>
    <div class="side-body padding-top">
        @Html.PowerBIReportFor(m => m.Report, new { style = "height:100vh", powerbi_access_token = Model.AccessToken })


        List<ReportViewModel>
            reportsList = new List<ReportViewModel>
                ();
                var devToken = PowerBIToken.CreateDevToken(workspaceCollection, workspaceId);
                using (var client = this.CreatePowerBIClient(devToken))
                {
                var reportsResponse = client.Reports.GetReports(workspaceCollection, workspaceId);

                for (int i = 0; i < reportsResponse.Value.ToList().Count; i++)
                {
                reportsList.Add(new ReportViewModel
                {
                Id = reportsResponse.Value[i].Id,
                Name = reportsResponse.Value[i].Id,
                EmbedUrl = reportsResponse.Value[i].EmbedUrl,
                WebUrl = reportsResponse.Value[i].WebUrl,
                Report = reportsResponse.Value[i]
                }
                );
                }
                }

                var reportId = reportsList[0].Id;
                using (var client = this.CreatePowerBIClient(devToken))
                {
                var embedToken = PowerBIToken.CreateReportEmbedToken(workspaceCollection, workspaceId, reportId);

                var viewModel = new ReportViewModel
                {
                Report = reportsList[0].Report,
                AccessToken = embedToken.Generate(accessKey)
                };

                accessTokenText.Value = viewModel.AccessToken;
                embedUrlText.Value = viewModel.Report.EmbedUrl;
                }

                In Default.aspx, check out the iframe and JS function to load PBI report:


                <iframe ID="iFrameEmbedReport" src="" height="768px" width="1024px" frameborder="1" seamless></iframe>


                <!-- Js function to assign iframe embedUrl and access token -->
                <script type="text/javascript">

          window.onload = function () {

              //debugger;
              // find the iFrame on the page and handle the loaded event.
              var iframe = document.getElementById('iFrameEmbedReport');
              iframe.src = document.getElementById('MainContent_embedUrlText').value;  //embedReportUrl;
              iframe.onload = postActionLoadReport;
              // post the access token to the iFrame to load the tile
              function postActionLoadReport() {
                  // get the app token.
                  accessToken = document.getElementById('MainContent_accessTokenText').value;//{generate app token};
                  // construct the push message structure
                  var m = { action: "loadReport", accessToken: accessToken };
                  message = JSON.stringify(m);
                  // push the message.
                  iframe = document.getElementById('iFrameEmbedReport');
                  iframe.contentWindow.postMessage(message, "*");
              }
          };

                </script>
    </div>
</body>
</html>







