
<div class="row">
    <div class="col-md-4">
        <h2><a href="./">Have Some Junk?</a></h2>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <a href="~/Items/ByCategory/Tools">
            <img class="home-cat-icon" src="~/Content/imgs/handtools.jpg" width="100" height="100" />
            <h2>Tools</h2>
        </a>
    </div>
    <div class="col-md-4">
        <a href="~/Items/ByCategory/Equipment">
            <img class="home-cat-icon" src="~/Content/imgs/Electronics.jpg" width="100" height="100" />
            <h2>Equipment</h2>
        </a>
    </div>
    <div class="col-md-4">
        <a href="~/Items/ByCategory/Housewares">
            <img class="home-cat-icon" src="~/Content/imgs/housewares.jpg" width="100" height="100" />
            <h2>Houseware</h2>
        </a>
    </div>
    <div class="col-md-4">
        <a href="~/Items/ByCategory/Recreational">
            <img class="home-cat-icon" src="~/Content/imgs/Recreationalequipment.jpg" width="100" height="100" />
            <h2>Recreational</h2>
        </a>
    </div>
    <div class="col-md-4">
        <a href="~/Items/ByCategory/Vehicles">
            <img class="home-cat-icon" src="~/Content/imgs/Vehicle.jpg" width="100" height="100" />
            <h2>Vehicles</h2>
        </a>
    </div>
    <div class="col-md-4">
        <a href="~/Items/ByCategory/Electronics">
            <img class="home-cat-icon" src="~/Content/imgs/Electronics.jpg" width="100" height="100" />
            <h2>Electronics</h2>
        </a>

        
    </div>
</div>
