
@if (!Request.IsAuthenticated)
{
    <div class="row">
        <div class="home-top-banner col-md-12">
            <h2>
                @Html.ActionLink("Got Junk?", "SignInB2E", "Account")
            </h2>
        </div>
    </div>
}
else
{
    <div class="row">
        <div class="home-top-banner col-md-6 col-md-offset-4">
            <h2>
                @Html.ActionLink("Got Junk?", "Create", "Items")
            </h2>
        </div>
    </div>
}
<div class="row">
    <div class="home-page-icon-frame col-md-4">
        <a href="~/Items/?Category=Tools" class="home-page-icon-frame">
            <img class="home-cat-icon" src="~/Content/imgs/handtools.jpg" width="100" height="100"/>
            <h2 class="icon-header">Tools</h2>
        </a>
    </div>
    <div class="home-page-icon-frame col-md-4">
        <a href="~/Items/?Category=Equipment" class="home-page-icon-frame">
            <img class="home-cat-icon" src="~/Content/imgs/buildingequipment.jpg" width="100" height="100"/>
            <h2 class="icon-header">Equipment</h2>
        </a>
    </div>
    <div class="home-page-icon-frame col-md-4">
        <a href="~/Items/?Category=Housewares" class="home-page-icon-frame">
            <img class="home-cat-icon" src="~/Content/imgs/housewares.jpg" width="100" height="100"/>
            <h2 class="icon-header">Houseware</h2>
        </a>
    </div>
    <div class="home-page-icon-frame col-md-4">
        <a href="~/Items/?Category=Recreational" class="home-page-icon-frame">
            <img class="home-cat-icon" src="~/Content/imgs/Recreationalequipment.jpg" width="100" height="100"/>
            <h2 class="icon-header">Recreational</h2>
        </a>
    </div>
    <div class="home-page-icon-frame col-md-4">
        <a href="~/Items/?Category=Vehicles" class="home-page-icon-frame">
            <img class="home-cat-icon" src="~/Content/imgs/Vehicle.jpg" width="100" height="100"/>
            <h2 class="icon-header">Vehicles</h2>
        </a>
    </div>
    <div class="home-page-icon-frame col-md-4">
        <a href="~/Items/?Category=Electronics">
            <img class="home-cat-icon" src="~/Content/imgs/Electronics.jpg" width="100" height="100"/>
            <h2 class="icon-header">Electronics</h2>
        </a>


    </div>
</div>
