<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="endpoint" value="https://p20teamstark.documents.azure.com:443/" />
    <add key="authKey" value="EdKzvCcJrNBBdsA5Iop47GBMlgoP9bEeENoT8iBsBYdEjhWut0M1tE07QUlKmmI6W1kWW2nHPvcy2qkVgGpPAQ==" />
    <add key="blobendpoint" value="DefaultEndpointsProtocol=https;AccountName=rentmyjunk;AccountKey=e9Siflpt9ZNUa2nUkJEwTpvj03LdR+S7soBcuf5Rra4v9DZue49L8Bd4JzAMLMUtgfQC8zK3gAbErcKmnyx1ng==" />
  </appSettings>
  </configuration>